
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486464945776'); /* IE9*/
  src: url('iconfont.eot?t=1486464945776#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486464945776') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486464945776') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486464945776#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e607"; }

.icon-home1:before { content: "\e62f"; }

.icon-arrow-right:before { content: "\e688"; }

.icon-arrowleft:before { content: "\e603"; }

